@{
    ViewData["Title"] = "Home Page";
}



<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">PROFKOM</h1>
        <p class="lead text-muted"> Это про студенчество, Будь первым!</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Вступай в профсоюз</a>
            <a href="#" class="btn btn-secondary my-2">Развивайся</a>
        </p>
    </div>
</section>


